In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'Index':[1,2,3,4,5],
        'Fruit':['Apple','Mango','Guava',np.nan,'Orange'],
          'Price':[200,150,70,50,np.nan],
           'Year':[2014,np.nan,2019,2020,2021]
        }

In [3]:
df = pd.DataFrame(data)
print(df)

   Index   Fruit  Price    Year
0      1   Apple  200.0  2014.0
1      2   Mango  150.0     NaN
2      3   Guava   70.0  2019.0
3      4     NaN   50.0  2020.0
4      5  Orange    NaN  2021.0

In [4]:
stats = df.describe(include = 'all')
print(stats)

           Index  Fruit       Price         Year
count   5.000000      4    4.000000     4.000000
unique       NaN      4         NaN          NaN
top          NaN  Apple         NaN          NaN
freq         NaN      1         NaN          NaN
mean    3.000000    NaN  117.500000  2018.500000
std     1.581139    NaN   69.940451     3.109126
min     1.000000    NaN   50.000000  2014.000000
25%     2.000000    NaN   65.000000  2017.750000
50%     3.000000    NaN  110.000000  2019.500000
75%     4.000000    NaN  162.500000  2020.250000
max     5.000000    NaN  200.000000  2021.000000

In [5]:
df.loc[4]

Index         5
Fruit    Orange
Price       NaN
Year     2021.0
Name: 4, dtype: object

In [6]:
df.isnull()

   Index  Fruit  Price   Year
0  False  False  False  False
1  False  False  False   True
2  False  False  False  False
3  False   True  False  False
4  False  False   True  False